/* #mainLoader {
    z-index: 1;
    position: absolute;
} */

.cookie-container {
    background-color: rgb(130, 88, 214);
    color: #fff;
    height: 12rem;
    width: 30rem;
    padding: 30px;
    bottom: 10px;
    left: 30px;
    box-sizing: content-box;
    position: fixed;
}

.cookie-container:hover {
    transform: scale(1.03);
}

.cookie-desc {
    color: #fff;
    font-size: 13px;
    line-height: 1.5;
    display: block;
    margin-top: 10px;
}

.cookie-btn {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin: 5px 10px 5px 0;
    border: none;
    border-radius: 10px;
}

#btn1 {
    background-color: yellow;
}

.cookie-btn:hover {
    transform: scale(1.03);
}

@media (max-width: 767px) {
    .cookie-container {
        bottom: 0px !important;
        left: 0px !important;
        width: 100% !important;
        height: 15rem;
        color: black;
        padding: 10px;
    }

    .cookie-desc {
        color: black;
    }
}