#footer {
    height: 5vh;
    bottom: 0;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #5e5e5e;
    font-weight: bold;
    align-items: center;
}

#footer a {
    text-decoration: none;
    color: #5e5e5e;
}

#footer a:hover {
    color: #4700D8;
}

/*  PHONE  */
@media screen and (max-width: 767px) {
    #footer {
        display: flex;
        /* position: static; */
        margin: 1rem auto;
        width: fit-content;
        flex-direction: column;
        justify-content: space-around;
        border: none;
        height: 20vh;
        width: 100%;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #footer {
        position: static;
        flex-direction: row;
        margin: 1rem auto;
        padding: 10px;
        margin: 5rem auto 0;
        height: fit-content;
        border: none;
        text-align: center;
    }

    .footer-link {
        margin: 0 4rem;
        width: 2rem;
    }
}