#header {
    margin: 0;
}

.header-logo,
.searchBar {
    margin-top: 14px;
}

.header-logo h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    letter-spacing: -0.06em;
    color: #000000;
}

.header-logo a {
    text-decoration: none;
}

/* Nav bar */
nav {
    display: flex;
    flex-direction: row;
    height: 7vh;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.searchBar {
    height: 80%;
    width: 30%;
    display: flex;
}

.icon-style {
    padding: 5px;
    color: #fff;
}

#search-btn {
    height: 80%;
    width: 10%;
    background-color: #4700D8;
    border: none;
}

nav input {
    outline: none;
    border: 1px solid #C4C4C4;
    width: 100%;
    height: 80%;
    padding: 0px 0.5rem;
    font-size: 1rem;
    transition: ease-in-out 0.2s;
    background-color: transparent;
}

nav input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #C8C4C4;
    position: absolute;
    left: 24px;
    top: 15%;
}

.homepage-logo,
.searchBar {
    margin-top: 14px;
}

.avatar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.user img {
    --img-side: 5vh;
    width: var(--img-side);
    height: var(--img-side);
    border-radius: var(--img-side);
    margin-right: 1rem;
}

/* Dropdown Button */
.dropBtn {
    background-color: transparent;
    font-weight: bold;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
    transition: ease-in-out 0.2s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    top: 0;
}

.account-field {
    position: relative;
    display: inline-block;
    min-width: 160px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content:before {
    content: "";
    position: absolute;
    top: 0;
    height: 1rem;
    width: 100%;
    transform: translateY(-100%);
}

.dropdown-content a:first-child:before {
    content: "";
    position: absolute;
    top: 0;
    left: 35%;
    background-color: #4700D8;
    width: 1rem;
    height: 1rem;
    transform: translate(1.5rem, -0.5rem) rotate(45deg);
    transition: ease-in-out 0.2s;
}

.dropdown-content a:first-child:hover:before {
    background-color: #190053;
}

.dropdown-content a:first-child {
    border-radius: 1rem 1rem 0 0;
}

.dropdown-content a:last-child {
    border-radius: 0 0 1rem 1rem;
    border-top: 1px solid #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 7vh;
    right: 10%;
    background-color: #4700D8;
    border-radius: 1rem;
    min-width: 230px;
    box-shadow: 0.5rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform-origin: calc(100% - 40px) top;
    animation: dropDownContentGrowth ease-in 0.3s;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: ease-in-out 0.2s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #190053;
}

.dropdown-content i {
    padding: 0 5px 0;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/*  PHONE  */
@media screen and (max-width: 767px) {
    nav {
        width: fit-content;
    }

    .icon-style {
        padding: 5px;
        color: #fff;
    }

    #search-btn {
        width: fit-content;
        height: 70%;
    }

    nav input {
        width: 15rem;
        height: 70%;
        font-size: 0.8rem;
    }

    input::placeholder {
        font-size: 0.6rem;
    }

    .header-logo h1 {
        font-size: 1rem;
    }

    .avatar-container {
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
    }

    /* Dropdown Section */
    .dropBtn {
        display: none;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content:before {
        position: absolute;
        top: 0;
        height: 1rem;
        width: 100%;
    }

    .dropdown-content a:first-child:before {
        left: 55%;
    }

    .dropdown-content{
        top: 3vh;
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #search-btn {
        width: fit-content;
        height: 80%;
        padding: 0 5px;
    }

    nav input {
        width: 15rem;
        height: 80%;
        font-size: 1rem;
    }

    input::placeholder {
        font-size: 0.8rem;
    }
}

@keyframes dropDownContentGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}