* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F7FB;
}

.homepage-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 150px);
    gap: 10px;
    grid-template-areas: 'header header header'
        'content content footer'
}
.posts-upload{
    transform: translateX(33.125%);
}
.selectOption{
    transform: translateX(14%) translateY(15%);
}
.status{

}
.optionValue{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    transition: all 300ms;
}
.upload{
    width: 0.1px;
    height: 0.1px;
    position: absolute;
    visibility: hidden;
    z-index: -1;

}
.uploadLabel{
    background-color: var(--primary-color-1);
    color: var(--white-color);
    padding: 4px 16px;
    font-size: 1rem;
    border-radius: 50px;
    position: relative;
    left: 13.2%;
    top: 16px;
    cursor: pointer;
}
.uploadLabel:hover{
    opacity: 0.8;
}
#header {
    grid-area: header;
}

/* Log in/Sign up button */
.signBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.transparent-btn {
    width: 127px;
    height: 42px;
    outline: none;
    background-color: transparent;
    padding: 12px 16px;
    font-weight: 600;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 16px;
    border-radius: 60px;
    cursor: pointer;
}

.transparent-btn:hover {
    transition: 0.5s;
    transform: scale(1.06);
}

.btn-item:nth-child(1) {
    margin-right: 24px;
}

.homepage-logo h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    letter-spacing: -0.06em;    
    color: #000000;
    
}

.homepage-logo a {
    text-decoration: none;
}

/* Main section */
#main {
    grid-area: content;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding: 0 10rem; */
}

.post {
    background: white;
    color: black;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    text-decoration: none;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.post-image {
    width: 30rem;
    height: 22.5rem;
    object-fit: cover;
    margin: 24px auto;
}

.post label{
    position: relative;
    text-transform: capitalize;
    margin: auto;
}
.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 30rem;
    background-color: #fff;
    margin: 1rem 0;
}

.author h1 {
    font-size: 1.1rem;
    margin-left: 1rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-left: 1rem;
}

.user-name {
    font-weight: 500;
}

.post-desc {
    position: relative;
    margin: 0 1rem;
}

.created-time {
    font-size: 0.8rem;
}

/* FOOTER */
#footer {
    grid-area: footer;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}