* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F7FB;
}

.homepage-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 10px;
    grid-template-areas: 'header header header'
        'content content footer'
}

#header {
    grid-area: header;
}

/* Log in/Sign up button */
.signBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.transparent-btn {
    width: 127px;
    height: 42px;
    outline: none;
    background-color: transparent;
    padding: 12px 16px;
    font-weight: 600;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 16px;
    border-radius: 60px;
    cursor: pointer;
}

.transparent-btn:hover {
    transition: 0.5s;
    transform: scale(1.06);
}

.btn-item:nth-child(1) {
    margin-right: 24px;
}

.homepage-logo h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    letter-spacing: -0.06em;    
    color: #000000;
    
}

.homepage-logo a {
    text-decoration: none;
}

#main {
    grid-area: content;
}

.post-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px;
}

.post {
    background: white;
    color: black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 357px;
    height: 386px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.post:hover {
    opacity: 0.6;
    cursor: pointer;
}

.post-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-top: 44px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 356px;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 10px 1rem -1rem black;
}

.author h1 {
    font-size: 1rem;
    margin-left: 1rem;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
}

.avatar {
    --avatar-width-side: 28.85px;
    --avatar-height-side: 30px;
    border-radius: 50%;
    width: var(--avatar-width-side);
    height: var(--avatar-height-side);
    object-fit: cover;
    margin-left: 1rem;
}

.userName {
    font-weight: 500;
}

.option {
    display: flex;
    width: 20%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
#footer {
    grid-area: footer;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}