* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #F5F7FB;
}

#main {
    height: 85vh;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 3rem 10rem;
}

.profile-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.userName {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin: 0px 30px;
}
.viewInformation{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.keyName{
    font-size: 16px;
    font-weight: 500;
    margin: 5px 30px;
}
.keyValue{
    font-weight: 400;
}

.uploadBtn {
    width: fit-content;
    padding: 0.65rem;
    font-family: var(--primary-font);
    background-color: var(--primary-color-1);
    border: none;
    border-radius: 2rem;
    color: var(--white-color);
    margin: 1rem;
    position: relative;
}
.uploadBtn:hover{
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}
.avt {
    --avatar-width-side: 7rem;
    --avatar-height-side: 7rem;
    border-radius: 50%;
    width: var(--avatar-width-side);
    height: var(--avatar-height-side);
    object-fit: cover;
    margin-left: 1rem;
}


.post-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px;
}

.post {
    background: white;
    color: #000;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 380px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    text-decoration: none;
}
.post:hover{
    opacity: 0.6;
    cursor: pointer;
}

.post-image {
    width: 320px;
    height: 330px;
    object-fit: cover;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320PX;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 10px 1rem -1rem black;
}

select {
    text-decoration: none;
    border-style: none;
    outline: 0px;
    font-size: 1.1rem;
}

.avatar {
    --avatar-width-side: 28.85px;
    --avatar-height-side: 30px;
    border-radius: 50%;
    width: var(--avatar-width-side);
    height: var(--avatar-height-side);
    object-fit: cover;
    margin-left: 1rem;
}

.option {
    display: flex;
    width: 20%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* FOOTER */
#footer {
    bottom: 0;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #5e5e5e;
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: #5e5e5e;
}

#footer a:hover {
    color: #4700D8;
}

@keyframes dropDownContentGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}