* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F7FB;
}

#main {
    min-height: 100vh;
}

.profile {
    display: flex;
    flex-direction: row;
    margin: 3rem 10rem;
}

.profile-info {
    margin: 1rem;
    text-align: center;
}

.profile button {
    background-color: #4700D8;
    height: 3rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
    padding: 0.8rem;
    margin: 1rem;
}

.avt {
    --avatar-width-side: 7rem;
    --avatar-height-side: 7rem;
    border-radius: 50%;
    width: var(--avatar-width-side);
    height: var(--avatar-height-side);
    object-fit: cover;
    margin-left: 1rem;
}


.post-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 100px;
}

.post {
    background: white;
    color: #000;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 380px;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.post-image {
    width: 320px;
    height: 330px;
    object-fit: cover;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 320PX;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 10px 1rem -1rem black;
}

select {
    text-decoration: none;
    border-style: none;
    outline: 0px;
    font-size: 1.1rem;
}

.avatar {
    --avatar-width-side: 28.85px;
    --avatar-height-side: 30px;
    border-radius: 50%;
    width: var(--avatar-width-side);
    height: var(--avatar-height-side);
    object-fit: cover;
    margin-left: 1rem;
}

.userName {
    font-weight: 500;
}

.option {
    display: flex;
    width: 20%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* FOOTER */
#footer {
    bottom: 0;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    color: #5e5e5e;
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    color: #5e5e5e;
}

#footer a:hover {
    color: #4700D8;
}