/* RESPONSIVE */

/* IPHONE */
@media screen and (min-width: 375px) and (max-width: 767px) {
    .formBackgroundImage{
        display: none;
    }
    .form{
        transform: translateX(-3rem);
        animation: none;
        right: 0;
    }
}